:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --white-color: #ffffff;
  --primary-font-family: Roboto;
  --primary-font-style: normal;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: ;
}

/* Roboto 400, 500, 700, 900, Raleway 700
font-family: "Raleway", sans-serif;
font-family: "Roboto", sans-serif; */

/* order-button bg color:  #2196f3;
header bg color: #ececec;
hero bg color: #2f303a;*/

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
  font-style: var(--primary-font-style);
}

.site-nav .logo,
.site-nav .accent-logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.site-nav .logo {
  color: var(--primary-text-color);
}
.site-nav .accent-logo {
  color: var(--accent-text-color);
}

.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}

.site-nav .link.current {
  color: var(--accent-text-color);
}
.site-nav .link.current:active {
  color: var(--accent-text-color);
}

.contacts-nav {
  text-align: right;
}
.contacts-nav .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-text-color);
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h3 {
  text-transform: uppercase;
}

h1 {
  /* font-family: inherit;
  font-style: inherit; */
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.06em;
  background-color: #2f303a;
  color: #ffffff;
  /* padding: 200px, 452px, 280px; */
  text-align: center;
}
h2,
h3 {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

h2 {
  font-size: 36px;
}
h3 {
  font-size: 14px;
}

p {
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.order-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  text-align: center;
}
